<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spencerbarton.echoexplorer"
    android:versionCode="60"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PlayAudioService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".LessonsMenuActivity"
            android:label="@string/title_activity_tutorials_menu"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spencerbarton.echoexplorer.MainActivity" />
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:parentActivityName=".LessonsMenuActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spencerbarton.echoexplorer.LessonsMenuActivity" />
        </activity>
        <activity
            android:name=".EvaluationActivity"
            android:label="@string/title_activity_evaluation"
            android:parentActivityName=".LessonsMenuActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spencerbarton.echoexplorer.LessonsMenuActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordsActivity"
            android:label="@string/title_activity_records" >
        </activity>
    </application>

</manifest>
